.toast-container {
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 9999;

	&.success .toast {
		background-color: #4caf50; // зелёный
	}

	&.favorite .toast {
		background-color: #7e57c2; // фиолетовый (или свой)
	}
}

.toast {
	color: white;
	padding: 12px 20px;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
	animation: fadeInUp 0.3s ease-out;
	font-size: 16px;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
